.jumbotron {
  background-color: #fc0011;
  margin-top: 17px;
  margin-bottom: 0px;
}
.btn {
  color: sandybrown;
}
.btn {
  background-color: #fcf400;
}
.container-fluid {
  color: #b2ca28;
}
.row {
  color: white;
}
.row {
  background-color: rgba(0, 0, 0, 0.973);
}
footer {
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.navbar {
  color: yellow;
  font-size: 20px;
}
.breadcrumb {
  background-color: #90eeaf;
  color: black;
}
.footer-address-icon {
  padding-right: 10px;
}
.bi {
  padding-right: 6px;
}
.form-group {
  background-color: #f3f1f1;
  color: darkblue;
}
.title-form {
  color: darkred;
  background-color: #cccccc;
}
.bi-star-fill {
  color: goldenrod;
}
.tab-content {
  padding-top: 10px;
}
