$green: #34eb37;
$blue: #1251e3;
$yellow: #fae900;
@mixin Margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $blue;
    @include Margenes(16px, 0px);
}

.btn {
    color: sandybrown;
}

.btn {
    background-color: rgb(0, 17, 255);
}

.container-fluid {
    color: $yellow;
}

.row {
    color: rgb(255, 255, 255);
}

.row {
    background-color: rgba(0, 0, 0, 0.973);
}

footer {
    margin-bottom: 0px;
    @include Margenes(10px, 0px);
}

.card-hotel {
    flex: 200px;
    padding: 2px 0px 2px 0px;
    @include Margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.navbar {
    color: yellow;
    font-size: 20px;
}

.breadcrumb {
    background-color: rgb(144, 238, 175);
    color: black;
}

.footer-address-icon {
    padding-right: 10px;
}

.bi {
    padding-right: 6px;
}

.form-group {
    background-color: rgb(243, 241, 241);
    color: darkblue;
}

.title-form {
    color: darkred;
    background-color: rgb(204, 204, 204);
}

.bi-star-fill {
    color: goldenrod;
}

.tab-content {
    padding-top: 10px;
}